.progress-bar {
    background-color: #2531D0;
    opacity: 0.5;
    width: 100%;
    transition: height 0.3s ease; 
}

.progress-container {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 8px;
    height: 100%;
    position: relative;
}
