.nums-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between; 
    height: 100%; 
    box-sizing: border-box;
    margin-left: 10px;
}

.num-button {
    background-color: white;
    width: 100%;
    height: 50px;
    border-radius: 10px; 
    color: #828282;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
    text-align: left;
    padding-left: 10px; 
}

.num-button:hover {
    color: rgb(55, 55, 55);
}

.num-button.active {
    font-weight: bold;       
    color: black;
}
