.question-idx {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.question {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options li {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
}


.options input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

.options input[type="radio"]:checked {
    accent-color: #4caf50;
}

