.width-container {
  display: flex;
  flex-direction: row;
  height: 90%;
  margin: 1% 3%;
}

.progress-wrapper {
  flex: 0.02;
  align-items: flex-start;
  margin: 1% 0 2% 0;
}

.sidebar {
  flex: 1;
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 1% 2% 2% 0;
}

.quiz {
  flex: 4;
  background-color: #f3f3f3;
  flex-direction: column;
  padding: 50px 30px 30px 50px;
  margin: 1% 3% 2% 0;
  display: flex;
}

.quiz-contents {
  flex: 8;
}

.navigation-buttons {
  flex: 1;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items:end;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ccc;
  color: rgb(0, 0, 0); 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover:not(:disabled) { 
  background-color: #45a049;
  opacity: 0.5;
}

.nav-button:disabled {
  background-color: #f3f3f3;
  cursor: not-allowed;
  color: #f3f3f3;
}

.prev-button {
  margin-right: 10px;
}

.next-button {
  margin-left: 10px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}