.width-container {
  display: flex;
  flex-direction: row;
  height: 90%;
  margin: 1%;
}

.progress-wrapper {
  margin-left: 20px;
  flex: 0.02;
  width: 100%;
  align-items: flex-start;
}

.sidebar {
  flex: 1; 
  align-items: center;
  justify-content: center;
  margin-right: 1%;
  border-radius: 10px; 
}

.quiz {
  flex: 4; 
  background-color: #e8e6e6;
  flex-direction: column;
  padding: 30px;
  margin-right: 20px;
}


.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #45a049;
}

.nav-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.prev-button {
  margin-right: 10px;
}

.next-button {
  margin-left: 10px;
}

