@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight:bolder;
    font-style: normal;
}
.quiz-header {
    font-style: normal;
    font-size: xx-large;
    font-weight:normal;
    font-family: GangwonEduPowerExtraBoldA;
}