@font-face {
    font-family: 'JalnanGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.quiz-header {
    background-color: aquamarine;
    font-style: normal;
    font-size: xx-large;
    font-weight:normal;
    font-family: JalnanGothic;
}