* {
  height: 100%;
}

.length-container {
  display: flex;
  flex-direction: column;
}

.quiz-header {
  flex: 1; 
}

.contents {
  background-color: rgb(203, 119, 17);
  flex: 9; 
  display: flex;
  height: 100%; 
}