@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    padding-top: 2%;
}

.Logo {
    text-decoration: none;
    margin-left: 3%;
    color: inherit;
    font-size: 35px;
    font-family: GangwonEduPowerExtraBoldA;
    width: 200px;
}
